main {
    max-width: 1300px;
    margin: 0 auto;
   
}
nav {
    background-color: orange;
    
    padding: 0.1px;
    margin: 0 auto;
    
}
nav li {
    display: inline-block;
    
    
}

nav li a {
    text-decoration: none;
}
body > main > nav > ul > li:nth-child(1) > a {
    padding-right: 900px;
    

}
body > main > nav > ul > li:nth-child(2) > a {
    padding-right: 200px;
    y
}

body {
    background-color: palegoldenrod;
}


    
